#root {
  max-width: 100%;
  margin: 0 auto;
   padding: 0.5rem;
  /* text-align: center; */
  
  
    background-image: url('C:\Users\anshu\OneDrive - Lovely Professional University\Desktop\INT 252 project\Blog-Frontend-main\jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar-brand {
  color: black !important;
}
.banner {
  background-color: transparent;
}

.banner .container h1, .banner .container p {
  color: black;
}
